@import "../../global.scss";

.endMessage{
    position: fixed;
    height: 100%;
    width: 100%;
    opacity: 0.88;
    z-index: 1000;
    display: flex;
    align-items: center;
    justify-content: center;
    
    &.on{
        opacity: 0.88;
    }
    &.off{
        opacity: 0;
    }
    .container{
        width: 50%;
        height: 80%;
        display: flex;
        flex-direction: column;
        align-items: center;
        background-color: rgb(27, 27, 27);
        border-radius: 25px;
        color: white;
        font-size: 30px;
        justify-content: space-between;

        .title{
            justify-self: start;
            margin-top: 35px;
        }
        .footer{
            margin-bottom: 35px;
        }
    }
}